[user]
	name = Ruben J. Sibon
	email = mail@rubensibon.nl
[core]
	editor = vim
	excludesFile = /Users/rubenjs/.dotfiles/.gitignore_global
[pull]
	rebase = false
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
