*
!.antigen
!.dotfiles
!.dotfiles/*
!.dotfiles/scripts
!.dotfiles/scripts/*
.dotfiles/scripts/.last_checked
!.fzf
!.gitconfig
!.gitignore
!.gitmodules
!.hidden
!.hyper.js
!.vim
!.vim/bundle
!.vim/bundle/Vundle.vim
!.vimrc
!.zshrc
